body {
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
     display:flex;
     flex-direction: column;
     justify-content: space-between;
     margin: 0;
     
}

.header {
    background-color: #1f2937;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
} 

a {
    text-decoration: none;
}

.header-right a {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 500;
    border: 2px solid orange;
}

.header-left a {
    color: #e5e7eb;
    font-size: 18px;
}

/* .content { 
    flex: 1;
} */

footer {
    background-color: #1f2937 ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 16px;
    

}

 .media-objects {
    background-color: #1f2937;
    padding: 20px 70px;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    flex-direction: row-reverse;
    height: 200px;
    border: 2px solid green;  
   
} 

img { /*might come back later */
    
    height: 130px;
    width: 250px;
} 

.about { /* Came upon an issue, cannot align the about class with the logo, as well as the image to the end of the 3rd link */
    padding: 10px;
    flex: 1;
    border: 2px solid pink;

} 

#title {
    font-size: 28px;
    font-weight: bolder;
    color: #f9faf8;
} 

 .text {
    font-size: 12px;
    color: #e5e7eb;
    margin-bottom: 8px;
} 

.about button {
    background-color: #3882f6;
    border-radius: 3px;
    border: #3882f6;;
    padding: 3px 8px;
} 

.about a {
   font-size: 12px;
   font-weight: 600;
   color: white;
   text-align: center;
   padding: 5px 8px;
  
} 

/* .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 20px; OR 30px;
    paddining: 0px 40px; (not sure if needed if spaced-around)

    .services div {
        font-size: 20px;
        font-weight: bolder;
        color: #1f2937;
        text-align: center;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-around; OR space-evenly;
        gap: 20px; 
    }

    .box{
        border: 2px solid blue;
        height: auto;
        width: 200px;
        border-radius: 5px;
    }

    .texts {
        font-size: 10px;
        color: grey;
        text-align: center;
    }
} */