body {
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    min-height: 100vh; 
     
     
}

.header {
    background-color: #1f2937;
     padding: 20px 200px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
} 

a {
    text-decoration: none;
}

.header-left a {
    color: #f9faf8;
    font-size: 50px;
    font-weight: 500;
}

.header-right a {
    color: #e5e7eb;
    font-size: 25px;
}

.page { 
    flex: 1; /*no need for this */
 } 

/* First Child (About page) */
 .media-objects {
    background-color: #1f2937;
    padding: 90px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
} 
 
img { 
    height: 300px;
    width: 570px;
} 

.about { /* Came upon an issue, cannot align the about class with the logo, as well as the image to the end of the 3rd link 
    I just needed to increase padding in the parent */
    width: 400px;
    flex-shrink: 0;
} 

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
    padding: 0;
} 

 .about p {
    font-size: 20px;
    color: #e5e7eb;
    margin-bottom: 16px;
} 

.about button {
    background-color: #3882f6;
    border-radius: 5px;
    border: #3882f6;
    padding: 12px 24px;
} 

.about a {
   font-size: 18px;
   font-weight: 600;
   color: white;
   text-align: center;
   padding: 15px 24px;
  
} 
/* Second child (Services) */
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 250px 100px 250px;
}

    h2 {
        font-size: 36px;
        font-weight: bolder;
        color: #1f2937;
        text-align: center;
       
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 20px;
        margin-top: 30px;
        gap: 50px;
        flex-wrap: wrap;
        
    }
   .container-child {
       display: flex;
       flex-direction: column;
        gap: 5px;
        align-items: center; 
        justify-content: center;
        padding: 0;
        margin: 0;
    } 
    .box{
        border: 5px solid #3882f6;;
        height: 165px;
        width: 165px;
        border-radius: 16px;
        flex-shrink: 0;
        /* line-height: 85px;  this makes the text inside the box to be aligned in the center without flexbox*/
    }

    .texts {
        font-size: 18px;
        color: grey;
        text-align: center; 
        width: 170px;
    }

     .inspo {
        background-color: #e5e7eb;
        padding: 120px 330px 100px 330px ;
        gap: 5px;
        display:flex;
        flex-direction: column;
     }

     /* .inspo-child {
        /* border: 2px solid pink; */
        /* flex-basis: 500px;
        padding-top: 20px ;
     } */ 
         .inspo div {
            font-size: 30px;
            font-weight: 100;
            font-style: italic;
            color: #1f2937;
            font-family: Helvetica, sans-serif;
        }

    .inspo p { /* can't find p figured it out (the .about p was just p and the color plus the background for 2nd child are the same, so it disappeared.*/
            font-size: 20px;
            font-weight: bold;
            text-align: right;
            display: flex;
            justify-content: flex-end;
            /* padding-right: 30px; (Optional) */
            /* padding: 0;
            margin: 0; */
        } 

 .cto-container {
        display: flex;
        align-items:center;
        justify-content:center; 
        padding: 120px 320px 100px 320px;
    }

.cto {
    background-color: #3882f6;
    border: 2px solid #3882f6;
    border-radius: 5px;
    height: 80px;
    width: 650px;
    padding: 10px 30px; 
    display: flex;
    align-items:center;
    justify-content: space-around;
}  

.cto-text{
    font-size: 25px;
    font-weight: bold;
    color: #f9faf8;
} 

.sign-up {
    font-size: 18px;
    font-weight: 100px;
    color: #e5e7eb;
}
.cto button {
    background-color: #3882f6;
    border-radius: 5px;
    border: 2px solid #f9faf8;
    padding: 12px 24px;
}


.cto a {
   font-size: 18px;
   font-weight: 500;
   color: white;
   text-align: center;
   padding: 15px 24px;
}

footer {
    background-color: #1f2937 ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-size: 20px;
}